__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# venvs
.venv/
venv/
ENV/
env/
/ai_app1/pre/chroma_db/
/pre/chroma_db/chroma.sqlite3
/ai_app1/test/models/
/ai_app1/models/bge-m3/.gitattributes
/models/bge-m3/.gitattributes
/ai_app1/models/bge-m3/imgs/bm25.jpg
/models/bge-m3/imgs/bm25.jpg
/ai_app1/models/bge-m3/colbert_linear.pt
/models/bge-m3/colbert_linear.pt
/ai_app1/models/bge-m3/1_Pooling/config.json
/ai_app1/models/bge-m3/onnx/config.json
/ai_app1/models/bge-m3/config.json
/models/bge-m3/1_Pooling/config.json
/models/bge-m3/onnx/config.json
/models/bge-m3/config.json
/ai_app1/models/bge-m3/config_sentence_transformers.json
/models/bge-m3/config_sentence_transformers.json
/ai_app1/models/bge-m3/onnx/Constant_7_attr__value
/models/bge-m3/onnx/Constant_7_attr__value
/ai_app1/models/bge-m3/imgs/long.jpg
/ai_app1/models/bge-m3/long.jpg
/models/bge-m3/imgs/long.jpg
/models/bge-m3/long.jpg
/ai_app1/models/bge-m3/imgs/miracl.jpg
/models/bge-m3/imgs/miracl.jpg
/ai_app1/models/bge-m3/imgs/mkqa.jpg
/models/bge-m3/imgs/mkqa.jpg
/ai_app1/models/bge-m3/onnx/model.onnx
/models/bge-m3/onnx/model.onnx
/models/bge-m3/onnx/model.onnx_data
/ai_app1/models/bge-m3/modules.json
/models/bge-m3/modules.json
/ai_app1/models/bge-m3/imgs/nqa.jpg
/models/bge-m3/imgs/nqa.jpg
/ai_app1/models/bge-m3/imgs/others.webp
/models/bge-m3/imgs/others.webp
/ai_app1/models/bge-m3/README.md
/models/bge-m3/README.md
/ai_app1/models/bge-m3/sentence_bert_config.json
/models/bge-m3/sentence_bert_config.json
/ai_app1/models/bge-m3/onnx/sentencepiece.bpe.model
/ai_app1/models/bge-m3/sentencepiece.bpe.model
/models/bge-m3/onnx/sentencepiece.bpe.model
/models/bge-m3/sentencepiece.bpe.model
/ai_app1/models/bge-m3/sparse_linear.pt
/models/bge-m3/sparse_linear.pt
/ai_app1/models/bge-m3/onnx/special_tokens_map.json
/ai_app1/models/bge-m3/special_tokens_map.json
/models/bge-m3/onnx/special_tokens_map.json
/models/bge-m3/special_tokens_map.json
/ai_app1/models/bge-m3/onnx/tokenizer.json
/ai_app1/models/bge-m3/tokenizer.json
/models/bge-m3/onnx/tokenizer.json
/models/bge-m3/tokenizer.json
/ai_app1/models/bge-m3/onnx/tokenizer_config.json
/ai_app1/models/bge-m3/tokenizer_config.json
/models/bge-m3/onnx/tokenizer_config.json
/models/bge-m3/tokenizer_config.json
/ai_app1/models/bge-m3/
/ai_app1/models/bge-base-zh-v1.5/
/ai_app1/pre/tantivy_bm25/.managed.json
/ai_app1/pre/tantivy_bm25/.tantivy-meta.lock
/ai_app1/pre/tantivy_bm25/.tantivy-writer.lock
/ai_app1/pre/tantivy_bm25/0e8a28c55e074227be273851f19b15e8.fast
/ai_app1/pre/tantivy_bm25/0e8a28c55e074227be273851f19b15e8.fieldnorm
/ai_app1/pre/tantivy_bm25/0e8a28c55e074227be273851f19b15e8.idx
/ai_app1/pre/tantivy_bm25/0e8a28c55e074227be273851f19b15e8.pos
/ai_app1/pre/tantivy_bm25/0e8a28c55e074227be273851f19b15e8.store
/ai_app1/pre/tantivy_bm25/0e8a28c55e074227be273851f19b15e8.term
/ai_app1/pre/tantivy_bm25/2a120237f181469f8387db859da82cfc.fast
/ai_app1/pre/tantivy_bm25/2a120237f181469f8387db859da82cfc.fieldnorm
/ai_app1/pre/tantivy_bm25/2a120237f181469f8387db859da82cfc.idx
/ai_app1/pre/tantivy_bm25/2a120237f181469f8387db859da82cfc.pos
/ai_app1/pre/tantivy_bm25/2a120237f181469f8387db859da82cfc.store
/ai_app1/pre/tantivy_bm25/2a120237f181469f8387db859da82cfc.term
/ai_app1/pre/tantivy_bm25/3a5dd62be6d74e02a009d10703033c66.fast
/ai_app1/pre/tantivy_bm25/3a5dd62be6d74e02a009d10703033c66.fieldnorm
/ai_app1/pre/tantivy_bm25/3a5dd62be6d74e02a009d10703033c66.idx
/ai_app1/pre/tantivy_bm25/3a5dd62be6d74e02a009d10703033c66.pos
/ai_app1/pre/tantivy_bm25/3a5dd62be6d74e02a009d10703033c66.store
/ai_app1/pre/tantivy_bm25/3a5dd62be6d74e02a009d10703033c66.term
/ai_app1/pre/tantivy_bm25/5a60b8d1151e441891ddb28f784ef9b8.fast
/ai_app1/pre/tantivy_bm25/5a60b8d1151e441891ddb28f784ef9b8.fieldnorm
/ai_app1/pre/tantivy_bm25/5a60b8d1151e441891ddb28f784ef9b8.idx
/ai_app1/pre/tantivy_bm25/5a60b8d1151e441891ddb28f784ef9b8.pos
/ai_app1/pre/tantivy_bm25/5a60b8d1151e441891ddb28f784ef9b8.store
/ai_app1/pre/tantivy_bm25/5a60b8d1151e441891ddb28f784ef9b8.term
/ai_app1/pre/tantivy_bm25/026b7f0111854aacba2f0e8dcfa71eaf.fast
/ai_app1/pre/tantivy_bm25/026b7f0111854aacba2f0e8dcfa71eaf.fieldnorm
/ai_app1/pre/tantivy_bm25/026b7f0111854aacba2f0e8dcfa71eaf.idx
/ai_app1/pre/tantivy_bm25/026b7f0111854aacba2f0e8dcfa71eaf.pos
/ai_app1/pre/tantivy_bm25/026b7f0111854aacba2f0e8dcfa71eaf.store
/ai_app1/pre/tantivy_bm25/026b7f0111854aacba2f0e8dcfa71eaf.term
/ai_app1/pre/tantivy_bm25/899d43d83c0b4b79a649566385bde32d.fast
/ai_app1/pre/tantivy_bm25/899d43d83c0b4b79a649566385bde32d.fieldnorm
/ai_app1/pre/tantivy_bm25/899d43d83c0b4b79a649566385bde32d.idx
/ai_app1/pre/tantivy_bm25/899d43d83c0b4b79a649566385bde32d.pos
/ai_app1/pre/tantivy_bm25/899d43d83c0b4b79a649566385bde32d.store
/ai_app1/pre/tantivy_bm25/899d43d83c0b4b79a649566385bde32d.term
/ai_app1/pre/tantivy_bm25/952bae7412784fdc807a503e32af2465.fast
/ai_app1/pre/tantivy_bm25/952bae7412784fdc807a503e32af2465.fieldnorm
/ai_app1/pre/tantivy_bm25/952bae7412784fdc807a503e32af2465.idx
/ai_app1/pre/tantivy_bm25/952bae7412784fdc807a503e32af2465.pos
/ai_app1/pre/tantivy_bm25/952bae7412784fdc807a503e32af2465.store
/ai_app1/pre/tantivy_bm25/952bae7412784fdc807a503e32af2465.term
/ai_app1/pre/tantivy_bm25/meta.json
/models/bge-m3/pytorch_model.bin
/ai_app1/pre/tantivy_bm25/
/ai_app1/models/bge-reranker-base/
/ai_app1/models/qwen2.5-1.5b-instruct/
/ai_app1/eval/reports/
/ai_app1/data/chroma_db/
/ai_app1/data/tantivy_bm25/
